.sidebar {
    background-color: #111727;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0#757575;
    color: #fafdff;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0.938rem;
        width: 100%;

        .head {
            display: flex;
            gap: 20px;
            padding-bottom: 20px;

            .logo {
                width: 44px;
                height: 44px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .user-details {
                .title {
                    font-size: 10px;
                    font-weight: 500;
                    color: #757575;
                    text-transform: uppercase;
                }

                .name {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
}

.menu-btn {
    position: absolute;
    right: -14px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #fafdff;
    background-color: #111727;

    &:hover i {
        color: #fafdff;
    }
}

.sidebar-collapsed {
    width: 16.5625rem;
}

.sidebar-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .sidebar-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;

        .sidebar-nav-link {
            display: flex;
            align-items: center;
            height: 2.5rem;
            color: #757575;
            text-decoration: none;
            border-radius: 10px;
            transition: all 0.3 ease;

            .sidebar-link-icon {
                font-size: 18px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidebar-link-text {
                margin-right: 0.5rem;
                font-size: 14px;
            }
        }

        .sidebar-nav-link:hover {
            background-color: #1a202e;
            color: #fafdff;
        }
    }
}

.active {
    background-color: #1a202e;
}